SCOUTS POSITIVOS

DS - Desarme (+ 1,0)

G - Gol (+8,0)

A - Assistência (+5,0)

FS - Falta Sofrida ( +0,5)

FF - Finalização para Fora (+0,8)

FD - Finalização Defendida (+1,2)

FT - Finalização na Trave (+3,0)

SCOUTS NEGATIVOS

GC - Gol Contra (-5,0)

CV - Cartão Vermelho (-5,0)

CA - Cartão Amarelo (-2,0)

PP - Pênalti Perdido (-4,0)

FC - Falta Cometida (-0,5)

I - Impedimento (-0,5)

PI - Passe Incompleto (-0,1)

In [1]:
import pandas as pd

In [3]:
df_scouts = pd.read_csv("rodada-3.csv")
df_scouts.head(3)

,Unnamed: 0,atletas.nome,atletas.slug,atletas.apelido,atletas.foto,atletas.atleta_id,atletas.rodada_id,atletas.clube_id,atletas.posicao_id,atletas.status_id,...,DD,GS,A,SG,FD,FT,I,CV,GC,PP
0,1,Danilo Alves da Silva,danilo,Danilo,NaN,107981,3,373,zag,Nulo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jorge de Moura Xavier,jorginho,Jorginho,https://s.glbimg.com/es/sde/f/2020/02/27/85109...,77544,3,373,mei,Provável,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Thiago Heleno Henrique Ferreira,thiago-heleno,Thiago Heleno,https://s.glbimg.com/es/sde/f/2019/03/30/d941b...,38394,3,293,zag,Provável,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_scouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  716 non-null    int64
 1   atletas.nome                716 non-null    object
 2   atletas.slug                716 non-null    object
 3   atletas.apelido             716 non-null    object
 4   atletas.foto                709 non-null    object
 5   atletas.atleta_id           716 non-null    int64
 6   atletas.rodada_id           716 non-null    int64
 7   atletas.clube_id            716 non-null    int64
 8   atletas.posicao_id          716 non-null    object
 9   atletas.status_id           716 non-null    object
 10  atletas.pontos_num          716 non-null    float64
 11  atletas.preco_num           716 non-null    float64
 12  atletas.variacao_num        716 non-null    float64
 13  atletas.media_num           716 non-null    float64
 14  atletas.jogos_num           716 non-null    int64
 15  atletas.clube.id.full.name  716 non-null    object
 16  DS                          278 non-null    float64
 17  FC                          273 non-null    float64
 18  FF                          161 non-null    float64
 19  FS                          256 non-null    float64
 20  G                           42 non-null     float64
 21  PI                          354 non-null    float64
 22  CA                          95 non-null     float64
 23  DD                          21 non-null     float64
 24  GS                          22 non-null     float64
 25  A                           34 non-null     float64
 26  SG                          70 non-null     float64
 27  FD                          118 non-null    float64
 28  FT                          18 non-null     float64
 29  I                           53 non-null     float64
 30  CV                          5 non-null      float64
 31  GC                          1 non-null      float64
 32  PP                          2 non-null      float64
dtypes: float64(21), int64(5), object(7)
memory usage: 184.7+ KB

In [5]:
df_scouts.drop(df_scouts.columns.difference(["atletas.nome","atletas.apelido","atletas.posicao_id",
                               "atletas.clube.id.full.name","DS",
                               "FC","FF","FS","G","PI","CA","A"
                               ,"FD","FT","I","CV","GC","PP"]),axis=1,inplace=True)

In [6]:
df_scouts.rename({'atletas.nome':'Nome',"atletas.apelido":"Apelido",'atletas.clube.id.full.name':'Clube',
                'atletas.posicao_id':'Posicao','DS':'Desarme','FC':'Falta cometida',"atletas.slug":"Slug",
                'FF':'Finalizacao fora','FS':'Falta sofrida',"G":"Gol",'PI':'Passe Incompleto',
                'CA':'Cartao amarelo','A':'Assistencia','FD':'Finalizacao defendida','FT':'Finalizacao trave',
                'I':'Impedimento','CV':'Cartao vermelho','GC':'Gol contra','PP':'Penalti perdido'},
                axis=1, inplace=True)

In [7]:
df_scouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nome                   716 non-null    object
 1   Apelido                716 non-null    object
 2   Posicao                716 non-null    object
 3   Clube                  716 non-null    object
 4   Desarme                278 non-null    float64
 5   Falta cometida         273 non-null    float64
 6   Finalizacao fora       161 non-null    float64
 7   Falta sofrida          256 non-null    float64
 8   Gol                    42 non-null     float64
 9   Passe Incompleto       354 non-null    float64
 10  Cartao amarelo         95 non-null     float64
 11  Assistencia            34 non-null     float64
 12  Finalizacao defendida  118 non-null    float64
 13  Finalizacao trave      18 non-null     float64
 14  Impedimento            53 non-null     float64
 15  Cartao vermelho        5 non-null      float64
 16  Gol contra             1 non-null      float64
 17  Penalti perdido        2 non-null      float64
dtypes: float64(14), object(4)
memory usage: 100.8+ KB

In [8]:
df_scouts = df_scouts[df_scouts["Posicao"] != "tec"]

In [9]:
df_scouts.head()

,Nome,Apelido,Posicao,Clube,Desarme,Falta cometida,Finalizacao fora,Falta sofrida,Gol,Passe Incompleto,Cartao amarelo,Assistencia,Finalizacao defendida,Finalizacao trave,Impedimento,Cartao vermelho,Gol contra,Penalti perdido
0,Danilo Alves da Silva,Danilo,zag,Atlético-GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jorge de Moura Xavier,Jorginho,mei,Atlético-GO,7.0,3.0,1.0,3.0,2.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Thiago Heleno Henrique Ferreira,Thiago Heleno,zag,Athlético-PR,3.0,3.0,1.0,2.0,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Maurício Kozlinski,Maurício Kozlinski,gol,Atlético-GO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Moacir Costa da Silva,Moacir,mei,Atlético-GO,1.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_scouts.to_csv('scouts_jogadores.csv',index = False)